<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
    </div>
  </div>
</div>
<div class="container">
  <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html">Evaluación</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" routerLink="trabajadores">Trabajadores</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="edificios">Edificios</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="asignaciones">Asignaciones</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- END nav -->

  <router-outlet></router-outlet>
</div>